
    


#divTabella{
   
    width: 60%;
    
}

.divNumbers{

    border:solid 1px;
    display: inline-block;
    width: 10%;
    text-align: center;

}

.selectNumber{
    background-color: rgb(52, 116, 116);
}